{% extends "wide_base.html" %}

{% load static %}


{% block stylesheets %}
<link href="{% static 'css/guestbook.css' %}" rel="stylesheet">
{% endblock stylesheets %}


{% block left_side %}
<div class="hidden-xs hidden-sm">
	{% include 'guestbook/side_menu.html' %}
</div>
{% endblock left_side %}


{% block right_side %}
{% block heading %}
<div class="pagetitle text-center">
	Guestbook
</div>
<hr class="fancy">
{% endblock heading %}
<div class="hidden-md hidden-lg">
	{% include 'guestbook/side_menu.html' %}
</div>
{% endblock right_side %}


{% block modal %}
<div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
		</div>
	</div>
</div>
{% endblock modal %}


{% block javascript %}
<script src="{% static 'js/jquery.loadTemplate-1.4.4.min.js' %}"></script>
<script src="{% static 'js/guestbook.js' %}"></script>
{% endblock javascript %}
