{% extends "guestbook/base.html" %}

{% block main_section %}
<div class="container-fluid">
	<form role="role" method="post" id="create-guestbook-entry" action="{{ request.get_full_path }}">
		{% csrf_token %}

		<div class=form-group">
		</div>

		{% for field in form.visible_fields %}
		<div class="form-group">
			{% for error in field.errors %}
			<small class="text-danger">{{ error }}</small>
			<br />
			{% endfor %}
			{{ field.help_text }}
			<label for="{{ field.id_for_label }}">{{ field.label }}</label>
			<input class="form-control" type="{{ field.field.widget.input_type }}" id="{{ field.auto_id }}" name="{{ field.html_name }}" placeholder="{{ field.name }}">
		</div>
		{% endfor %}

		<input class="btn btn-primary" type="submit" value="Sign In" />
	</form>
</div>
{% endblock %}
