{% extends 'modal_base.html' %}

{% block modal_content %}
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	<h4 class="modal-title">{{ form_title }}</h4>
</div>
<div class="modal-body">
	<form id="guestbook-form" action="{{ entry.get_absolute_delete_url }}" method="post">
		{% csrf_token %}
		<h2>{{ form_message }}</h2>
		<div class="col-md-12">
			<div class="row">
				<div class="row">
					<div class="col-xs-6 text-left">
						<span class="top-line">{{ entry.name }}</span>
					</div>
					<div class="col-xs-6 text-right">
						<span class="top-line">{{ entry.location }}</span>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 text-justify">
						<p>{{ entry.note }}</p>
					</div>
				</div>
			</div>
		</div>
		<button id="submit" class="btn btn-danger" type="submit">yes</button>
		<button class="btn btn-default" type="button" data-dismiss="modal">cancel</button>
	</form>
</div>
</div> <!-- end modal-body -->
<div class="modal-footer">
</div>
{% endblock modal_content %}
