<div class="row clickable">
	<div class="row top-line">
		<div class="col-xs-6  col-sm-12 text-left">
			<span class="guestbook_entry_name" data-content="name"></span>
			<span class="hidden-xs guestbook_entry_location"> (<span data-content="location"></span>)</span>
		</div>
		<div class="col-xs-6 xs-visible-block text-right">
			<span class="guestbook_entry_location" data-content="location"> (<span data-content="location"></span>)</span>
		</div>
	</div>
	<div class="row bottom-line">
		<div class="col-xs-12 text-justify">
			<p class="guestbook_entry_note" data-content-prepend="note" data-format="firstNWords" data-format-options="50"><a data-href="absolute_url" class="text-primary">Read More</a></p>
		</div>
	</div>
</div>
