{% extends "guestbook/base.html" %}

{% block right_side %}
{{ block.super }}
<div class="col-xs-12 entry">
	<div class="row top-line">
		<div class="col-xs-6 col-sm-12 text-left">
			<span class="guestbook_entry_name">{{ entry.name }}</span>
			<span class="hidden-xs guestbook_entry_location"> ({{ entry.location }})</span>
		</div>
		<div class="col-xs-6 visible-xs-block text-right">
			<span class="guestbook_entry_location">{{ entry.location }}</span>
		</div>
	</div>
	<div class="row bottom-line">
		<div class="col-xs-12 text-justify">
			<p class="guestbook_entry_note">{{ entry.note }}</p>
		</div>
	</div>
</div>
{% endblock right_side %}
