<div class="row clickable">
	<div class="row">
		<div class="col-xs-6 text-left guestbook_entry_name">
			<span class="top-line" data-content="name"></span>
		</div>
		<div class="col-xs-6 text-right guestbook_entry_location">
			<span class="top-line" data-content="location"></span>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 text-justify guestbook_entry_note">
			<p data-content-prepend="note" data-format="firstNWords" data-format-options="50"><a data-href="absolute_url" class="text-primary">Read More</a></p>
		</div>
	</div>
</div>
