{% extends "guestbook/base.html" %}

{% block right_side %}
{{ block.super }}
{% if guestbook_entries %}
{% include 'guestbook/pagination.html' %}
{% endif %}
<div id="entries" class="col-xs-12">
	{% for entry in guestbook_entries %}
	<hr class="fancy visible-xs-block">
	<div class="row clickable">
		<div class="row top-line">
			<div class="col-xs-6 col-sm-12 text-left">
				<span class="guestbook_entry_name">{{ entry.name }}</span>
				<span class="guestbook_entry_location hidden-xs"> ({{ entry.location }})</span>
			</div>
			<div class="col-xs-6 visible-xs-block text-right">
				<span class="guestbook_entry_location">{{ entry.location }}</span>
			</div>
		</div>
		<div class="row bottom-line">
			<div class="col-xs-12 text-justify">
				<p class="guestbook_entry_note">{{ entry.note|truncatewords:50 }} <a href="{{ entry.get_absolute_url }}" class="text-primary">Read More</a></p>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% if guestbook_entries %}
{% include 'guestbook/pagination.html' %}
{% endif %}
{% endblock right_side %}

{% block js_template %}
<script type="text/html" id="entry-template">
{% include "guestbook/entry_template.html" %}
</script>
{% endblock js_template %}
