{% extends "wide_base.html" %}

{% load static %}


{% block stylesheets %}
<link href="{% static 'css/rsvp.css' %}" rel="stylesheet">
{% endblock stylesheets %}


{% block left_side %}
<div id="rsvp-picture" class="col-md-12">
	<img class="img-rounded" src="{% static 'img/rsvp2.jpg' %}" width="100%">
	<hr>
	<div id="instructions" class="text-justify">
		<p>{{ instructions|safe }}</p>
	</div>
	<div id="add-button-row" class="text-center">
		<a data-toggle="modal" data-target="#form-modal" href="/rsvp/create/">
			<button id="add-button" class="btn wedding_button">
				<span class="glyphicon glyphicon-plus"></span>
				Add Reservation
			</button>
		</a>
	</div>
</div>
{% endblock left_side %}


{% block javascript %}
<script src="{% static 'js/jquery.loadTemplate-1.4.4.min.js' %}"></script>
<script src="{% static 'js/rsvp.js' %}"></script>
{% endblock javascript %}
