<div class="row person-data" data-id="id">
	<hr class="fancy visible-xs-block">
	<div class="row first-name">
		<label class="col-sm-3 col-md-3 text-right">First Name</label>
		<p class="col-sm-9 col-md-9" data-content="first-name"></p>
	</div>
	<div class="row last-name">
		<label class="col-sm-3 col-md-3 text-right">Last Name</label>
		<p class="col-sm-9 col-md-9" data-content="last-name"></p>
	</div>
	<div class="row dietary-concerns">
		<label class="col-sm-3 col-md-3 text-right">Dietary Concerns</label>
		<p class="col-sm-9 col-md-9" data-content="dietary-concerns"></p>
	</div>
	<div class="row email">
		<label class="col-sm-3 col-md-3 text-right">Email</label>
		<p class="col-sm-9 col-md-9" data-content="email"></p>
	</div>
	<div class="row updates">
		<label class="col-sm-3 col-md-3 text-right">Updates</label>
		<p class="col-sm-9 col-md-9" data-content="updates" data-format="booleanToString"></p>
	</div>
	<div class="col-sm-12 col-md-12 col-lg-12 text-right">
		<p>
			<a data-toggle="modal" data-target="#form-modal"  data-href="update_url"><button class="btn btn-info">Edit</button></a>
			<a data-toggle="modal" data-target="#form-modal"  data-href="delete_url"><button class="btn btn-danger">Delete</button></a>
		</p>
	</div>
</div>
