{% extends "base.html" %}

{% block letter_content %}
<div class="pagetitle text-center">
	Contacts
	<hr class="fancy" width=75%>
</div>
<div class="table-responsive">
	<table class="table table-striped" style="text-align:center;">
		<thead>
			<td class="th_text"> Name </td>
			<td class="th_text"> Email </td>
			<td class="th_text"> Phone </td>
		</thead>
		<tbody>
			{% for contact in contacts%}
			<tr>
				<td>
					{{ contact.name }}
				</td>
				<td>
					{{ contact.email }}
				</td>
				<td>
					{{ contact.phone }}
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% endblock letter_content %}
