{% extends "wide_base.html" %}

{% load static %}

{% block stylesheets %}
<link href="{% static 'css/gallery.css' %}" rel="stylesheet">
{% endblock stylesheets %}

{% block top_side %}
<div class="text-center heading">
	<div class="pagetitle">
		Gallery
		<hr class="fancy" width=75%>
	</div>
	<div class="gallery_instructions">
		<p>
			Share your favorite photo of or with the bride and/or groom. <br>(The most recent 20 are shown below.)<br>
			To add pictures to the gallery, upload them to Instagram with the hashtag
		</P>
		<a href="http://www.instagram.com" class="hashtag_text">#baino_kardos</a>
	</div>
</div>
<div class="row gallery-group">
	{% for pic_standard_url, pic_thumbnail_url, pic_caption in pic_list %}
	<div class="col-xs-6 col-sm-3 col-md-2">
		<div class="gallery-image" data-src="{{ pic_standard_url }}">
			<img src="{{ pic_thumbnail_url }}" width=100%>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock top_side %}

{% block modal %}
<div class="modal fade" id="gallery-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<div class="modal-image">
				</div>
			</div>
			<div class="modal-footer">
				<div class="prev-next">
					<div class="col-xs-4 text-left">
						<div class="prev btn wedding_button gallery_button text-center">
							<span class="glyphicon glyphicon-chevron-left"></span>
						</div>
					</div>
					<div class="col-xs-4 text-center">
						<div class="dismiss btn wedding_button gallery_button text-center" data-dismiss="modal">
							<span class="glyphicon glyphicon-remove"></span>
						</div>
					</div>
					<div class="col-xs-4 text-right">
						<div class="next btn wedding_button gallery_button text-center">
							<span class="glyphicon glyphicon-chevron-right"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock modal %}

{% block javascript %}
<script src="{% static 'js/gallery.js' %}"></script>
{% endblock javascript %}
