{% extends "base.html" %}

{% load static %}

{% block menu %}
{% endblock menu %}

{% block stylesheets %}
<link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock stylesheets %}

{% block whole_content %}
<div class="container">
	<div class="jumbotron col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
		<div class="container text-center">
			<img src="/static/img/seal.png" height="120px">
			<hr class="fancy">
			<hr>
			{% if form.non_field_errors %}
			{% for error in form.non_field_errors %}
			<small class="text-danger">{{ error }}</small>
			{% endfor %}
			{% endif %}
			<hr>
			<form role="role" method="post" id="login" action="/login/">
				{% csrf_token %}

				{% for field in form.visible_fields %}
				<div class="form-group">
					{% for error in field.errors %}
					<small class="text-danger">{{ error }}</small>
					<br />
					{% endfor %}
					{{ field.help_text }}
					<label for="{{ field.id_for_label }}">{{ field.label }}</label>
					<input class="form-control" type="{{ field.field.widget.input_type }}" maxlength="15" size="15" id="{{ field.auto_id }}" name="{{ field.html_name }}" placeholder="{{ field.name }}" autofocus>
				</div>
				{% endfor %}

				<input class="btn btn-default" type="submit" value="Sign In" />
			</form>

			{% if form.non_field_errors %}
			<br><small class="text-danger">Problems logging in? <a href="mailto:kara.and.nick.webmasters@gmail.com">Email us!</a></small>
			{% endif %}
			<hr>
			<img id="bottom-img" src="/static/img/login_flourish.png" width="100%">
		</div>
	</div>
</div>

{% endblock whole_content %}
