<!DOCTYPE html>
<head>
   <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
   <script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>
   
   
   
   


<style>

#map {
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
}

</style>
</head>
<body>

        <div id="map" style="width: 100%px; height: 500px"></div>

<script>



var map = L.map('map').setView([27.952, -82.466], 13);

L.tileLayer('http://{s}.tile.stamen.com/terrain/{z}/{x}/{y}.jpg', {
    maxZoom: 18,
    attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, under <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>. Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY SA</a>.'
}).addTo(map);


var marker_1 = L.marker([27.9242896, -82.2707417]);
marker_1.bindPopup("<a href='http://www.yelp.com/biz/thai-x-press-cafe-brandon-2' target='_blank'>Thai X-Press Cafe</a>");
map.addLayer(marker_1)

var marker_2 = L.marker([28.2705006, -82.5294065]);
marker_2.bindPopup("<a href='http://www.yelp.com/biz/capital-tacos-land-o-lakes' target='_blank'>Capital Tacos</a>");
map.addLayer(marker_2)

var marker_3 = L.marker([27.9603147, -82.5183189]);
marker_3.bindPopup("<a href='http://www.yelp.com/biz/eddie-vs-prime-seafood-tampa' target='_blank'>Eddie V's Prime Seafood</a>");
map.addLayer(marker_3)

var marker_4 = L.marker([27.936914, -82.301908]);
marker_4.bindPopup("<a href='http://www.yelp.com/biz/south-pacific-grill-brandon' target='_blank'>South Pacific Grill</a>");
map.addLayer(marker_4)

var marker_5 = L.marker([28.0694938, -82.6304182]);
marker_5.bindPopup("<a href='http://www.yelp.com/biz/fresh-bites-tampa' target='_blank'>Fresh Bites</a>");
map.addLayer(marker_5)

var marker_6 = L.marker([27.9169828, -82.4942262]);
marker_6.bindPopup("<a href='http://www.yelp.com/biz/osteria-natalina-tampa' target='_blank'>Osteria Natalina</a>");
map.addLayer(marker_6)

var marker_7 = L.marker([27.9143228, -82.5057247]);
marker_7.bindPopup("<a href='http://www.yelp.com/biz/kombo-kitchen-tampa-2' target='_blank'>Kombo Kitchen</a>");
map.addLayer(marker_7)

var marker_8 = L.marker([27.9343584, -82.2929337]);
marker_8.bindPopup("<a href='http://www.yelp.com/biz/dellas-after-dark-brandon' target='_blank'>Della's After Dark</a>");
map.addLayer(marker_8)

var marker_9 = L.marker([28.0363515, -82.4224574]);
marker_9.bindPopup("<a href='http://www.yelp.com/biz/pizza-squared-tampa' target='_blank'>Pizza Squared</a>");
map.addLayer(marker_9)

var marker_10 = L.marker([28.130256, -82.364945]);
marker_10.bindPopup("<a href='http://www.yelp.com/biz/oakleys-grille-tampa' target='_blank'>Oakley's Grille</a>");
map.addLayer(marker_10)

var marker_11 = L.marker([27.9609932, -82.4445997]);
marker_11.bindPopup("<a href='http://www.yelp.com/biz/fuma-bella-tampa' target='_blank'>Fuma Bella</a>");
map.addLayer(marker_11)

var marker_12 = L.marker([27.771666, -82.636035]);
marker_12.bindPopup("<a href='http://www.yelp.com/biz/jannus-live-st-petersburg' target='_blank'>Jannus Live</a>");
map.addLayer(marker_12)

var marker_13 = L.marker([27.9564368, -82.4300834]);
marker_13.bindPopup("<a href='http://www.yelp.com/biz/coppertail-brewing-co-tampa' target='_blank'>Coppertail Brewing Co</a>");
map.addLayer(marker_13)

var marker_14 = L.marker([27.950547, -82.458882]);
marker_14.bindPopup("<a href='http://www.yelp.com/biz/the-hub-bar-tampa' target='_blank'>The Hub Bar</a>");
map.addLayer(marker_14)

var marker_15 = L.marker([27.776005, -82.632233]);
marker_15.bindPopup("<a href='http://www.yelp.com/biz/the-canopy-st-petersburg' target='_blank'>The Canopy</a>");
map.addLayer(marker_15)

var marker_16 = L.marker([28.0117641, -82.7893924]);
marker_16.bindPopup("<a href='http://www.yelp.com/biz/kellys-dunedin' target='_blank'>Kelly's</a>");
map.addLayer(marker_16)

var marker_17 = L.marker([27.9968054, -82.5788861]);
marker_17.bindPopup("<a href='http://www.yelp.com/biz/bilmar-station-tampa-2' target='_blank'>Bilmar Station</a>");
map.addLayer(marker_17)

var marker_18 = L.marker([27.769472, -82.3932084]);
marker_18.bindPopup("<a href='http://www.yelp.com/biz/incognito-lounge-apollo-beach' target='_blank'>Incognito Lounge</a>");
map.addLayer(marker_18)

var marker_19 = L.marker([27.926515, -82.482758]);
marker_19.bindPopup("<a href='http://www.yelp.com/biz/ciros-speakeasy-and-supper-club-tampa' target='_blank'>Ciro's Speakeasy and Supper Club</a>");
map.addLayer(marker_19)

var marker_20 = L.marker([27.9618637, -82.4418738]);
marker_20.bindPopup("<a href='http://www.yelp.com/biz/the-castle-tampa' target='_blank'>The Castle</a>");
map.addLayer(marker_20)






</script>

</body>