{% extends "wide_base.html" %}

{% load static %}

{% block stylesheets %}
<link href="{% static 'css/the_big_day.css' %}" rel="stylesheet">
{% endblock stylesheets %}

{% block top_side %}
<div class="pagetitle text-center">
	The Big Day
<hr class="fancy" width=75%>
</div>
<div class="row">
	<div class="hidden-xs col-md-10 col-md-offset-1 text-center">
		<img class="img-rounded" src="{% static 'img/bayanihan_center_entrance_redone.jpg' %}" width="100%">
	</div>
</div>
<div class="hidden-xs"><br></div>
{% endblock top_side %}

{% block left_side %}
<div class="col-sm-12 col-md-12 text-center">
	<div class="c_and_r_title_text">
		Ceremony and Reception
	</div>
	<div class="col-sm-12 col-md-12" id="itinerary entries">
		{% for entry in  itinerary_entries %}
		<div class="event_title_text">
			<a href="{{ entry.string_location_2 }}">{{ entry.title }}</a><br>
		</div>
		<div class="event_time_text">
			{{ entry.string_location_1 }}<br>
			{{ entry.time }}<br>	
			{{ entry.phone }}<br>	
		</div>
		{% endfor %}
	</div>
</div>
{% endblock left_side %}

{% block right_side %}
<div class="visible-xs-block visible-sm-block col-sm-12 col-md-12 text-center">
	<div class="c_and_r_title_text">
		Ceremony and Reception
	</div>
	<div class="col-sm-12 col-md-12" id="itinerary entries">
		{% for entry in  itinerary_entries %}
		<div class="event_title_text">
			<a href="{{ entry.string_location_2 }}">{{ entry.title }}</a><br>
		</div>
		<div class="event_time_text">
			{{ entry.string_location_1 }}<br>
			{{ entry.time }}<br>	
			{{ entry.phone }}<br>	
		</div>
		{% endfor %}
	</div>
</div>
<div class="col-sm-12 col-md-12 text-justify">
	<div class="c_and_r_title_text text-center">
		What to Expect
	</div>
	<div id="what_to_expect" class="event_time_text">
		<ul class="the-big-day">
			<li>Please arrive 15-30 minutes before the start of the event. The ceremony will start promptly at 5:30 pm. You don't want to be THAT person who takes attention away from the groom and bride while they're making their vows.</li>
			<li>This is a formal affair. Think dress to impress.</li>
			<li>There will be an open bar. Please make driving arrangements according to your intended consumption.</li>
			<li>There will be dancing at the reception so bring your dancing shoes.</li>
	</div>
</div>
{% endblock right_side %}
