{% extends "wide_base.html" %}

{% load static %}

{% block top_side %}
<div class="pagetitle text-center">
	The Big Day
<hr class="fancy" width=75%>
</div>
<div class="row">
	<div class="hidden-xs col-md-10 col-md-offset-1 text-center">
		<img class="img-rounded" src="{% static 'img/bayanihan_center_entrance_redone.jpg' %}" width="100%">
	</div>
</div>
<div class="hidden-xs"><br></div>
{% comment description %}
<div class="col-sm-12 col-md-12" id="itinerary">
	<div class="c_and_r_title_text text-center">
		Ceremony and Reception
	</div>
	<div class="col-sm-12 col-md-12 text-center" id="itinerary entries">
		{% for entry in  itinerary_entries %}
		<div class="event_title_text text-center">
			<a href="{{ entry.string_location_2 }}">{{ entry.title }}</a><br>
		</div>
		<div class="event_time_text text-center">
			{{ entry.string_location_1 }}<br>
			{{ entry.time }}<br>	
			{{ entry.phone }}<br>	
			{#<img class="img-rounded" src="../../media/{{ entry.image_desciptive }}"><br>#}
		</div>
		<div class="event_description_text text-center">
			{{ entry.description }}<br>
		</div>
		<br>
		{% endfor %}
	</div>
	<div class="c_and_r_title_text text-center">
		What to Expect
	</div>
	<div class="col-sm-12 col-md-12" id="what_to_expect">
		<div class="what_to_expect_title_text">
		</div>
		{% for entry in  what_to_expect_entries %}
			{{ entry.title }}<br>
			{{ entry.time }}<br>	
			{{ entry.description }}<br>		
		{% endfor %}
		<div class="event_time_text text-center">
			Formalwear<br>
			Open bar<br>
			Dancing<br>
		</div>
	</div>
</div>
{% endcomment %}
{% endblock top_side %}

{% block left_side %}
<div class="col-sm-12 col-md-12 text-left">
	<div class="c_and_r_title_text">
		Ceremony and Reception
	</div>
	<div class="col-sm-12 col-md-12" id="itinerary entries">
		{% for entry in  itinerary_entries %}
		<div class="event_title_text">
			<a href="{{ entry.string_location_2 }}">{{ entry.title }}</a><br>
		</div>
		<div class="event_time_text">
			{{ entry.string_location_1 }}<br>
			{{ entry.time }}<br>	
			{{ entry.phone }}<br>	
		</div>
		{% endfor %}
	</div>
</div>
{% endblock left_side %}

{% block right_side %}
<div class="visible-xs-block visible-sm-block col-sm-12 col-md-12 text-center">
	<div class="c_and_r_title_text">
		Ceremony and Reception
	</div>
	<div class="col-sm-12 col-md-12" id="itinerary entries">
		{% for entry in  itinerary_entries %}
		<div class="event_title_text">
			<a href="{{ entry.string_location_2 }}">{{ entry.title }}</a><br>
		</div>
		<div class="event_time_text">
			{{ entry.string_location_1 }}<br>
			{{ entry.time }}<br>	
			{{ entry.phone }}<br>	
		</div>
		{% endfor %}
	</div>
</div>
<div class="col-sm-12 col-md-12 text-justify">
	<div class="c_and_r_title_text text-center">
		What to Expect
	</div>
	<div id="what_to_expect">
		<div class="what_to_expect_title_text">
		</div>
		{% for entry in  what_to_expect_entries %}
			{{ entry.title }}<br>
			{{ entry.time }}<br>	
			{{ entry.description }}<br>		
		{% endfor %}
		<div class="event_time_text">
			The attire will be formalwear (think dress to impress). There will be an open bar and dancing at the reception.<br>
		</div>
	</div>
</div>
{% endblock right_side %}
