{% extends "base.html" %}

{% block letter_content %}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>
<div class="pagetitle text-center">
	Things to do
<hr class="fancy" width=75%>
</div>
<br>
<div class="to_do_title_text text-center">
	Our Suggestions
</div>
<br>
<div class="our_suggestions col-xs-12">
	{% for our_category in our_categories %}
		<div class="col-xs-12 col-sm-4">
			<b><div class="c_and_r_title_text text-center">{{ our_category }}</b></div>
			<ul> 
				{% for suggestion in suggestions %}
					{% if suggestion.category == our_category %}
					<li>
						{{ suggestion.description }}
					</li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	{% endfor %}
	<br>
</div>
<hr>
<div class="to_do_title_text text-center">
<br>
	Yelp's Suggestions
</div>
<br>
<div class="leaflet_map text-center">
{{ source | safe }}
</div>
<hr>
{% endblock %}
