{% extends "base.html" %}

{% block letter_content %}
<div style="min-height:100%; height:100%;">
<center>
	<div class="pagetitle">
		Wedding Party
		<hr class="fancy" width=75%>
	</div>
</center>
<script>
function toggle_visibility(id) {
	var responsibilities = document.getElementsByClassName("responsibility-div");
	for(var i = 0; i < responsibilities.length; i++)
	{
		responsibilities[i].style.visibility="hidden";
		responsibilities[i].style.display="none";
	}
	visible_responsibility = document.getElementById(id);
	visible_responsibility.style.visibility="visible";
	visible_responsibility.style.display="block";
	resize_invitation();
}	
</script>
<center>
</center>
{% for grouping in party_member_label_groupings %}
	<div class="responsibility-group-div col-md-12">
	{% for responsibility in grouping %}
		<div class="col-md-{{responsibility.2}}">
			<hr>
			<div class="responsibility_title_text text-center col-md-12">
			{{ responsibility.1 |safe}}<br>
			<hr class="fancy">
			</div>
			<hr>
			<div class="col-md-12">
				{% for pm in party_members %}
					{% if pm.responsibility == responsibility.0 %}
					<div class="col-md-{{ responsibility.3 }} col-sm-{{ responsibility.4}} col-xs-{{ responsibility.4}}">
							<center>
							<img class="img-circle party_member_image" src="../../media/{{ pm.image }}"><br>
							</center>
							<center>
								<div class="text-center party_member_name_text">
									{{ pm.name | safe}}
									<br>
								</div>
								<div class="text-center party_member_relation_text">
									{{ pm.relation_to_engaged }}
									<br>
								</div>
								<div class="text-center party_member_story_text">
								<!--
									{{ pm.story }} 
								-->
									<br>
									<br>
								</div>
							</center>
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	{% endfor %}
	</div>
{% endfor %}
{% endblock %}


